/*==============================================================================================================*/
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("../fonts/museosanscyrl500-webfont.eot");
  src: url("../fonts/museosanscyrl500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl500-webfont.woff") format("woff"), url("../fonts/museosanscyrl500-webfont.ttf") format("truetype"), url("../fonts/museosanscyrl500-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-size: 14px;
  color: #000;
}

.page__promo {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .page__promo {
    display: none;
  }
}

.page__info-index {
  margin-top: 25px;
}

.page__main {
  margin-top: 40px;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .page__main {
    margin-top: 20px;
  }
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 50px;
}

.heading_white {
  color: #fff;
}

.heading_content {
  font-size: 24px;
  text-transform: none;
  text-align: left;
  margin-bottom: 30px;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs__item {
  text-decoration: underline;
  position: relative;
  margin-left: 18px;
}

.breadcrumbs__item:hover {
  color: #ff6c00;
}

.breadcrumbs__item:hover:before {
  color: #0670aa;
}

.breadcrumbs__item:before {
  content: '\f111';
  font-family: 'FontAwesome';
  font-size: 5px;
  position: absolute;
  top: 50%;
  left: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumbs__item:first-child {
  padding-left: 0;
  margin-left: 0;
}

.breadcrumbs__item:first-child:before {
  display: none;
}

.text-default a {
  color: #0670aa;
  text-decoration: underline;
}

.text-default a:hover {
  color: #ff6c00;
}

.text-default p {
  margin-bottom: 15px;
}

.text-default ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-default ul li {
  padding-left: 15px;
  margin-bottom: 15px;
  position: relative;
}

.text-default ul li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #0670aa;
  left: 4px;
  top: 8px;
  position: absolute;
}

.img-fluid {
  display: block;
}

.margin-auto {
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

.p-relative {
  position: relative;
}

.hover-circle {
  position: relative;
  overflow: hidden;
}

.hover-circle:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  opacity: 0;
}

.hover-circle:hover:before {
  -webkit-animation: circle .5s;
  animation: circle .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 1;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 1;
  }
}

/*==============================================================================================================*/
/*form styler*/
.jq-selectbox {
  vertical-align: top;
}

.jq-selectbox__select, .jq-selectbox__select:active, .jq-selectbox__select:hover {
  border: 1px solid #0670aa;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  background: transparent;
}

.jq-selectbox__trigger-arrow {
  border-top-color: #0670aa !important;
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__dropdown {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  margin-top: 0px;
}

.jq-selectbox li {
  text-align: left;
}

.jq-selectbox li.selected {
  background: #0670aa;
}

.jq-checkbox.focused {
  border-color: #0670aa;
}

.jq-checkbox.checked .jq-checkbox__div {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0670aa;
  font-family: 'FontAwesome';
  position: relative;
  margin: 0;
  line-height: 1;
}

.jq-checkbox.checked .jq-checkbox__div:before {
  content: '\f00c';
}

/*noUIslider*/
.noUi-horizontal .noUi-handle {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #9ac86e;
  outline: none;
  top: -5px;
  left: -11px;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  display: none;
}

.noUi-handle-upper {
  background: #85bd50;
}

.noUi-target {
  border-radius: 0px;
  background: #9ba3ae;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.noUi-horizontal {
  height: 2px;
}

.noUi-connect {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #9ac86e;
}

/*select*/
.select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  max-width: 100%;
}

.select label {
  font-weight: normal;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 5px;
  white-space: nowrap;
}

.select__trigger {
  background: #fff;
  border: 1px solid #66767d;
  color: #000;
  padding: 5px;
  padding-right: 20px;
  padding-left: 10px;
  position: relative;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.select__trigger:after {
  font-family: 'FontAwesome';
  content: "\f107";
  color: #66767d;
  display: inline-block;
  position: absolute;
  right: 9px;
  top: 6px;
}

.select__label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.select__list {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  max-height: 140px;
  overflow-y: auto;
}

.select__content {
  display: none;
  background: #fff;
  border: 1px solid #66767d;
  border-top: none;
  padding: 10px;
  position: absolute;
  top: 100%;
  margin-top: -5px;
  left: 0;
  z-index: 150;
  width: 100%;
}

.select__item {
  display: block;
}

.select__item:hover {
  background: #007fff;
  color: #fff;
}

.select__item:hover .fa.gray {
  color: #fff;
}

.select_active .select__trigger:after {
  content: "\f106";
  top: 5px;
}

.select_active .select__content {
  display: block;
}

/*default*/
.input {
  border: 1px solid #9ba3ae;
  padding: 5px;
  display: inline-block;
}

.input_area {
  min-height: 60px;
}

.button {
  background: #0670aa;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  line-height: normal;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.button:hover {
  background: #088dd6;
}

.button_blue-light {
  color: #0670aa;
  background: #b4c4d3;
}

.button_blue-light:hover {
  background: #d1dbe4;
}

.button_big {
  padding: 11px 18px;
  font-size: 18px;
}

/*==============================================================================================================*/
.panel {
  background: #eef2f7;
  padding: 14px 0px;
}

@media (max-width: 767px) {
  .panel {
    text-align: center;
  }
}

.panel .fa {
  color: #83878f;
}

.panel .fa-phone {
  display: inline-block;
  margin-right: 3px;
}

.panel a {
  color: #7bc0e7;
  text-decoration: underline;
}

.panel a:hover {
  color: #54ade0;
}

.panel__item {
  display: inline-block;
}

.panel__item_time {
  color: #bdc1c7;
}

.panel__item_sitemap {
  float: right;
}

@media (max-width: 767px) {
  .panel__item_sitemap {
    float: none;
    margin-left: 10px;
  }
}

.panel__item_time, .panel__item_callback {
  margin-right: 25px;
}

@media (max-width: 767px) {
  .panel__item_time, .panel__item_callback {
    margin-right: 10px;
  }
}

/*==============================================================================================================*/
.header {
  padding: 14px 0px;
}

.header__cartbox, .header__search {
  padding-top: 17px;
}

.header__cartbox {
  text-align: right;
}

@media (max-width: 991px) {
  .header__cartbox {
    text-align: left;
  }
}

@media (max-width: 575px) {
  .header__cartbox {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .header__cartbox {
    padding-top: 10px;
  }
}

.search {
  font-size: 16px;
}

@media (max-width: 767px) {
  .search {
    text-align: center;
  }
}

.search__form {
  display: inline-block;
  white-space: nowrap;
}

.search__select {
  width: 180px;
}

.search__field {
  border: 1px solid #0670aa;
  padding: 5px;
  vertical-align: top;
  width: 300px;
  height: 44px;
  padding: 10px 15px;
  border-left: none;
  border-right: none;
  outline: none;
}

@media (max-width: 1199px) {
  .search__field {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .search__field {
    width: 465px;
  }
}

@media (max-width: 767px) {
  .search__field {
    width: 290px;
  }
}

@media (max-width: 575px) {
  .search__field {
    width: 190px;
  }
}

.search__cleaner {
  position: absolute;
  top: 4px;
  right: 2px;
  background: #fff;
  width: 40px;
  display: block;
  padding: 5px 0;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  color: #0670aa;
  font-size: 18px;
  display: none;
}

.search__cleaner_active {
  display: block;
}

.search .jq-selectbox__select {
  font-size: 16px;
}

.search .jq-selectbox__select, .search .jq-selectbox__select:active, .search .jq-selectbox__select:hover {
  height: 44px;
}

.search .jq-selectbox__dropdown {
  font-size: 16px;
}

.search .jq-selectbox__select-text {
  color: #0670aa;
  margin-top: 5px;
}

.search .jq-selectbox__trigger-arrow {
  top: 19px;
}

.search .jq-selectbox li {
  min-height: 24px;
  padding-top: 8px;
}

.search-button {
  vertical-align: top;
  height: 44px;
  border: 1px solid #0670aa;
  border-left: none;
  background: transparent;
  color: #fff;
  outline: none;
  overflow: hidden;
  padding: 2px;
  cursor: pointer;
}

.search-button:hover .search-button__content {
  background: #088dd6;
}

.search-button__content {
  height: 100%;
  background: #0670aa;
  padding: 9px 10px;
  padding-top: 8px;
  line-height: normal;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.search-button__content .fa-search {
  font-size: 20px;
}

.cartbox {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background: #0670aa;
  padding: 10px 15px;
  height: 44px;
  padding-top: 13px;
  text-decoration: none;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 767px) {
  .cartbox {
    padding: 5px 12px;
    padding-top: 12px;
  }
}

.cartbox:hover, .cartbox:focus {
  color: #fff;
  text-decoration: none;
  background: #088dd6;
}

.cartbox__label {
  text-transform: uppercase;
}

.cartbox__count {
  color: #7bc0e7;
}

/*==============================================================================================================*/
.navbar {
  background: #0670aa;
  border-radius: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}

.navbar__container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media (max-width: 575px) {
  .navbar__container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar__collapse {
    height: 24px;
  }
}

.navbar__list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  text-align: justify;
  width: 100%;
}

@media (max-width: 991px) {
  .navbar__list {
    border-top: 1px solid #fff;
    text-align: center;
    margin-top: 5px;
  }
}

.navbar__list:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

@media (max-width: 991px) {
  .navbar__list:after {
    display: none;
  }
}

.navbar__item {
  display: inline-block;
}

@media (max-width: 991px) {
  .navbar__item {
    display: block;
    padding: 4px 0px;
  }
}

.navbar__item a {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.navbar__item a:hover {
  text-decoration: underline;
}

.navbar__item_active a {
  color: #7bc0e7;
}

.navbar__toggler {
  border: none;
  padding: 5px 0;
  display: block;
  text-transform: uppercase;
}

.navbar__toggler, .navbar__toggler:hover, .navbar__toggler:active, .navbar__toggler:focus {
  color: #fff;
}

.menu-icon {
  display: block;
  float: right;
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
}

.menu-icon, .menu-icon:before, .menu-icon:after {
  display: block;
  width: 30px;
  height: 3px;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  -o-transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  background-color: #fff;
}

.menu-icon:before, .menu-icon:after {
  position: absolute;
  content: "";
}

.menu-icon:before {
  top: -9px;
}

.menu-icon:after {
  top: 9px;
}

.navbar__toggler:not(.collapsed) .menu-icon {
  background-color: transparent;
}

.navbar__toggler:not(.collapsed) .menu-icon:before {
  -webkit-transform: translateY(9px) rotate(45deg);
      -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.navbar__toggler:not(.collapsed) .menu-icon:after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
      -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

/*==============================================================================================================*/
.slider {
  border: 1px solid #e6e9ec;
  -webkit-box-shadow: 0 0 8px #e6e9ec;
          box-shadow: 0 0 8px #e6e9ec;
}

.slider__carousel {
  visibility: hidden;
}

.slider__caption {
  color: #000;
  text-align: left;
  right: auto;
  bottom: auto;
  top: 50px;
  left: 85px;
  padding: 0;
  width: 280px;
}

@media (max-width: 991px) {
  .slider__caption {
    top: 45px;
    left: 50px;
    width: 250px;
  }
}

.slider__header {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .slider__description {
    display: none;
  }
}

.slider__content {
  min-width: 0;
}

.slider__img {
  width: 100%;
}

.slider__next, .slider__prev {
  background: #8a989e;
  font-size: 24px;
  width: 45px;
  height: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.7;
}

.slider__next {
  right: 0;
}

.slider__prev {
  left: 0;
}

.slider__indicators li {
  display: inline-block;
  border: 2px solid #abb8bd;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  margin: 0 5px;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.slider__indicators li:hover, .slider__indicators li.active {
  border-color: #0670aa;
}

@media (max-width: 1199px) {
  .banner {
    text-align: justify;
    margin-top: 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .banner:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
}

@media (max-width: 991px) {
  .banner {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.banner__item {
  display: inline-block;
  margin-bottom: 19px;
}

@media (max-width: 1199px) {
  .banner__item {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .banner__item {
    display: block;
    width: 33.333%;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*==============================================================================================================*/
.catalogue-index {
  background: #eef2f7;
  padding: 30px 0;
}

.category-index__content {
  width: 150px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin-bottom: 15px;
}

.category-index__content:hover {
  text-decoration: none;
  color: #0670aa;
}

.category-index__content:hover .category-index__img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 2px 2px 0px #afb9c8;
          box-shadow: inset 1px 2px 2px 0px #afb9c8;
}

.category-index__content:hover .category-index__img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.category-index__img {
  width: 140px;
  height: 140px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 2px #d0d6df;
          box-shadow: 0px 0px 3px 2px #d0d6df;
  position: relative;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.category-index__img img {
  display: block;
  max-width: 100%;
}

@media (max-width: 767px) {
  .category-index__img {
    width: 110px;
    height: 110px;
  }
}

.category-index__name {
  margin-top: 5px;
  font-size: 17px;
  line-height: 1.2;
  min-height: 65px;
}

/*==============================================================================================================*/
.product {
  margin-bottom: 30px;
}

.product__content {
  border: 1px solid #dee1e2;
  padding: 20px;
}

.product__header {
  font-size: 18px;
  display: block;
  text-decoration: none;
  color: #000;
}

.product__header:hover {
  color: #000;
}

.product__price {
  font-size: 28px;
}

.product__price .fa-rub {
  font-size: 20px;
  color: #636c7b;
}

.product__tocart button {
  font-size: 17px;
}

.product_list .product__content {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media (max-width: 767px) {
  .product_list .product__content {
    display: block;
    max-width: 270px;
    margin: 0 auto;
  }
}

.product_list .product__header {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .product_list .product__header {
    margin-bottom: 0;
  }
}

.product_list .product__img, .product_list .product__info {
  display: table-cell;
  vertical-align: top;
}

@media (max-width: 767px) {
  .product_list .product__img, .product_list .product__info {
    display: block;
  }
}

.product_list .product__img {
  vertical-align: middle;
  text-align: center;
  width: 270px;
}

@media (max-width: 767px) {
  .product_list .product__img {
    height: 160px;
    overflow: hidden;
    width: 100%;
    display: table;
    table-layout: fixed;
  }
}

@media (max-width: 767px) {
  .product_list .product__img a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.product_list .product__info {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .product_list .product__info {
    padding-left: 0;
  }
}

.product_list .product__params {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .product_list .product__params {
    margin-bottom: 10px;
  }
}

.product_list .product__buy {
  display: table;
}

@media (max-width: 767px) {
  .product_list .product__buy {
    display: block;
  }
}

.product_list .product__tocart, .product_list .product__price {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .product_list .product__tocart, .product_list .product__price {
    display: block;
    text-align: center;
  }
}

.product_list .product__tocart {
  padding-left: 16px;
}

@media (max-width: 767px) {
  .product_list .product__tocart {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .product_list .product__price {
    margin-bottom: 5px;
  }
}

.product_tile .product__header {
  overflow: hidden;
}

@media (min-width: 576px) {
  .product_tile .product__header {
    height: 54px;
  }
}

.product_tile .product__content {
  max-width: 270px;
  margin: 0 auto;
}

.product_tile .product__img {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.product_tile .product__img a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.product_tile .product__params {
  margin-bottom: 10px;
}

.product_tile .product__price, .product_tile .product__tocart {
  text-align: center;
}

.product_tile .product__price {
  margin-bottom: 5px;
}

.available_true {
  color: #9ac86e;
}

.available_false {
  color: #ff6c00;
}

.params__name {
  color: #636c7b;
}

.params__value {
  color: #000;
}

/*==============================================================================================================*/
@media (max-width: 991px) {
  .paginator {
    text-align: center;
  }
}

.paginator__item {
  text-decoration: none !important;
  margin-right: 4px;
  padding: 2px 8px;
  display: inline-block;
  background: #f1f1f1;
  color: #636c7b;
}

/*==============================================================================================================*/
.filter {
  padding: 25px 0px;
  border: 1px solid #c8caca;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
}

.filter__main {
  margin-bottom: 25px;
}

.filter__view_active {
  color: #0670aa;
}

.filter__params, .filter__buttons {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1199px) {
  .filter__params {
    margin-top: 25px;
  }
}

.filter__buttons .row {
  margin-left: -5px;
  margin-right: -5px;
}

.filter__buttons .row > div {
  padding-left: 5px;
  padding-right: 5px;
}

.filter__col_right > .row {
  margin-left: -10px;
  margin-right: -10px;
}

.filter__btn-reset, .filter__btn-submit {
  text-transform: uppercase;
  outline: none;
  width: 100%;
  border: none;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}

.filter__btn-reset {
  color: #0670aa;
  background: #fff;
  border: 1px dotted #0670aa;
}

.filter__btn-reset:hover {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #f3faff;
}

.filter__btn-submit {
  background: #9ac86e;
  color: #fff;
  border: 1px solid #9ac86e;
}

.filter__btn-submit:hover {
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #83bb4d;
  border-color: #83bb4d;
}

.filter__params-row {
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 1199px) {
  .filter__params-row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.filter__params-row:after {
  content: '';
  display: table;
  clear: both;
}

.filter__select {
  width: 33.333333%;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .filter__select {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .filter__select {
    width: 100%;
    float: none;
  }
}

.filter__select .select {
  min-width: 100%;
}

.price-slider__slider {
  margin: auto;
  margin-top: 25px;
}

@media (max-width: 1199px) {
  .price-slider__slider {
    margin-top: 15px;
  }
}

.price-slider__fields {
  text-align: center;
}

.price-slider__field-min, .price-slider__field-max {
  width: 60px;
  text-align: center;
}

.sort__label {
  display: inline-block;
  color: #636c7b;
  margin-right: 20px;
}

.sort__item {
  display: inline-block;
  margin-right: 20px;
  color: #0670aa;
  border-bottom: 1px dotted #0670aa;
  text-decoration: none !important;
  line-height: 1.05;
}

.sort__item:hover {
  color: #ff6c00;
  border-color: #ff6c00;
}

.sort__item_active {
  color: #ff6c00;
  border-bottom: none;
}

.sort__item_active:after {
  content: '';
  font-family: 'FontAwesome';
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
}

.sort__item_active-desc:after {
  content: '\f0d7';
}

.sort__item_active-asc:after {
  content: '\f0d8';
}

@media (max-width: 767px) {
  .view-type {
    display: none;
  }
}

.view-type__content {
  display: table;
  table-layout: fixed;
  float: right;
}

.view-type__item {
  display: table-cell;
  vertical-align: middle;
}

.view-type__item:last-child {
  padding-left: 20px;
}

.view-type__item a {
  text-decoration: none !important;
  color: #636c7b;
}

.view-type__item .fa-th {
  font-size: 22px;
}

.view-type__item .fa-bars {
  font-size: 21px;
}

.view-type__item_active a {
  color: #0670aa;
}

/*==============================================================================================================*/
.why-us {
  background: #0670aa;
  padding: 30px 0;
}

.why-us__content {
  width: 220px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .why-us__content {
    width: auto;
  }
}

.why-us__header {
  text-transform: uppercase;
  margin-top: 13px;
  font-size: 18px;
  color: #fff;
}

.why-us__description {
  color: #b4c4d3;
  margin-top: 5px;
}

.why-us__button {
  text-align: center;
  margin-top: 15px;
}

/*==============================================================================================================*/
.news-index {
  padding: 30px 0;
}

.news-index__button {
  text-align: center;
  margin-top: 15px;
}

.article__content {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.article__date {
  position: absolute;
  width: 60px;
  height: 70px;
  left: 15px;
  top: 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  line-height: normal;
  z-index: 2;
}

.article__day {
  font-size: 36px;
  color: #b4c4d3;
}

.article__month-year {
  color: #fff;
}

.article__img {
  display: block;
  height: 205px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .article__img {
    height: 165px;
  }
}

.article__img img {
  margin: 0 auto;
}

.article__name {
  display: block;
  color: #000;
  font-size: 17px;
  margin-top: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.article__name:hover {
  color: #000;
}

.article__description {
  margin-top: 10px;
  height: 95px;
}

.article__short {
  max-height: 65px;
  /*3 rows*/
  overflow: hidden;
}

.article__more {
  display: inline-block;
  color: #0670aa;
  margin-top: 10px;
}

.article__more:hover {
  color: #ff6c00;
}

.article__more:hover a {
  color: #ff6c00;
}

.article__more a {
  text-decoration: underline;
  color: #0670aa;
}

/*==============================================================================================================*/
.info-index {
  background: #eef2f7;
  padding: 30px 0;
}

/*==============================================================================================================*/
@media (max-width: 991px) {
  .menu {
    margin-bottom: 30px;
  }
}

.menu__header {
  font-size: 18px;
  text-transform: uppercase;
  background: #f1f1f1;
}

.menu__header a, .menu__header span {
  display: block;
  text-align: left;
  padding: 11px 20px;
}

@media (max-width: 991px) {
  .menu__header span {
    display: none;
  }
}

.menu__header a {
  display: none;
  color: #000;
  text-decoration: none;
}

@media (max-width: 991px) {
  .menu__header a {
    display: block;
  }
}

.menu__header a .fa-bars {
  display: inline-block;
  float: right;
  margin-top: 5px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .menu__content {
    display: none;
    border: 1px solid #f1f1f1;
  }
}

.menu__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__list_lvl-2 {
  padding-left: 20px;
}

.menu__list_lvl-3 {
  padding-left: 20px;
}

.menu__item {
  display: block;
}

.menu__item a {
  position: relative;
  display: block;
}

.menu__item a:after {
  content: '';
  position: absolute;
  font-family: 'FontAwesome';
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15px;
}

.menu__item_lvl-1 {
  border-bottom: 1px solid #f1f1f1;
}

.menu__item_lvl-1 > a {
  color: #000;
  padding: 14px 20px;
}

.menu__item_lvl-1 > a:after {
  content: '\f105';
  right: 13px;
}

.menu__item_lvl-1.menu__item_active > a:after {
  content: '\f107';
}

.menu__item_lvl-2 > a {
  padding: 10px 18px;
  color: #000;
}

.menu__item_lvl-2 > a:after {
  content: '\f0da';
  left: 7px;
  color: #9ac86e;
}

.menu__item_lvl-2.menu__item_active > a:after {
  content: '\f0d7';
  left: 5px;
}

.menu__item_lvl-3 > a {
  padding: 4px 0;
  text-decoration: underline;
}

.menu__item_lvl-3 > a:hover {
  color: #ff6c00;
}

.menu__item_lvl-3.menu__item_active > a {
  color: #ff6c00;
}

/*==============================================================================================================*/
.footer {
  background: #445762;
  padding-top: 25px;
  padding-bottom: 70px;
  color: #fff;
}

@media (max-width: 991px) {
  .footer {
    padding-bottom: 25px;
  }
}

.footer__header {
  color: #b4c4d3;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .footer__header {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .footer__logo {
    display: none;
  }
}

@media (max-width: 991px) {
  .footer__navigation {
    margin-bottom: 20px;
  }
}

.footer__navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  .footer__navigation ul {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 60px;
  }
}

.footer__navigation ul li {
  display: block;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .footer__navigation ul li {
    width: 100%;
    float: none;
  }
}

@media (max-width: 991px) {
  .footer__navigation ul li {
    padding-left: 20px;
  }
}

.footer__navigation ul li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #b4c4d3;
  left: 4px;
  top: 8px;
  position: absolute;
}

@media (max-width: 991px) {
  .footer__navigation ul li:before {
    left: 9px;
  }
}

@media (max-width: 991px) {
  .footer__contact-text {
    max-width: 400px;
    margin: 0 auto;
  }
}

.footer__contact-text a {
  color: #fff;
  text-decoration: underline;
}

.footer__contact-text a:hover {
  color: #e8e8e8;
}

.copyright {
  background: #1a1a1a;
  color: #b4c4d3;
  padding: 15px 0;
}

.copyright a {
  color: #b4c4d3;
  text-decoration: underline;
}

.copyright a:hover {
  color: #97adc2;
}

.copyright__webis {
  font-size: 12px;
  text-align: right;
}

.webis {
  display: table;
  float: right;
}

@media (max-width: 767px) {
  .webis {
    display: block;
    float: none;
  }
}

.webis__logo, .webis__text {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .webis__logo, .webis__text {
    display: block;
  }
}

.webis__text {
  padding-top: 2px;
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
