@import 'mixins.scss';

.catalogue-index{
	background: $lll-blue;
	padding: 30px 0;
}

.category-index{
	$p: &;
	&__content{
		width: 150px;
		margin: 0 auto;
		display: block;
		text-decoration: none;
		color: #000;
		text-align: center;
		margin-bottom: 15px;
		&:hover{
			text-decoration: none;
			color: $blue;
		}

		&:hover #{$p}__img:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			box-shadow: inset 1px 2px 2px 0px darken(#d0d6df, 11%);
		}

		&:hover #{$p}__img{
			box-shadow: none;
		}
	}

	&__img{
	    width: 140px;
	    height: 140px;
	    display: inline-block;
	    border-radius: 50%;
	    overflow: hidden;
	    box-shadow: 0px 0px 3px 2px #d0d6df;
	    position: relative;
	    @include transition(box-shadow, 0.1s);
	    img{
	    	display: block;
	    	max-width: 100%;
	    }
	    @media (max-width: 767px){
			width: 110px;
			height: 110px;
	    }
	}

	&__name{
		margin-top: 5px;
		font-size: 17px;
		line-height: 1.2;
		min-height: 65px;
	}

}