@import 'mixins.scss';

.filter{
	padding: 25px 0px;
	border: 1px solid #c8caca;
	border-left: none;
	border-right: none;
	margin-bottom: 30px;
	&__main{
		margin-bottom: 25px;
	}
	&__view{
		&_active{
			color: $blue;
		}
	}
	&__params, &__buttons{
		padding-left: 10px;
		padding-right: 10px;
	}
	&__params{
		@media (max-width: 1199px){
			margin-top: 25px;
		}
	}
	&__buttons{
		.row{
			margin-left: -5px;
			margin-right: -5px;
			>div{
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	&__col_right>.row{
		margin-left: -10px;
		margin-right: -10px;
	}
	&__btn-reset, &__btn-submit{
		text-transform: uppercase;
		outline: none;
		width: 100%;
		border: none;
		display: inline-block;
		margin-bottom: 10px;
		padding: 5px;
		cursor: pointer;
	}
	&__btn-reset{
		color: $blue;
		background: #fff;
		border: 1px dotted $blue;
		&:hover{
			@include transition(all, 0.3s);
			background: lighten($blue, 63%);
		}
	}
	&__btn-submit{
		background: $green;
		color: #fff;
		border: 1px solid $green;
		&:hover{
			@include transition(background, 0.3s);
			background: darken($green, 9%);
			border-color: darken($green, 9%);
		}
	}
	&__params-row{
		margin-left: -15px;
		margin-right: -15px;
		@media (max-width: 1199px){
			margin-left: -5px;
			margin-right: -5px;
		}
		&:after{
			content: '';
			display: table;
			clear: both;
		}
	}
	&__select{
		width: 33.333333%;
		float: left;
		padding: 0 5px;
		margin-bottom: 10px;
		@media (max-width: 767px){
			width: 50%;
		}
		@media (max-width: 575px){
			width: 100%;
			float: none;
		}
		.select{
			min-width: 100%;
		}
	}
}

.price-slider{
	&__slider{
		margin: auto;
		margin-top: 25px;
		//max-width: 185px;
		@media (max-width: 1199px){
			margin-top: 15px;
		}
	}
	&__fields{
		text-align: center;
		@media (max-width: 1199px){
			//text-align: left;
		}
	}
	&__field-min, &__field-max{
		width: 60px;
		text-align: center;
	}
}

.sort{
	&__label{
		display: inline-block;
		color: #636c7b;
		margin-right: 20px;
	}
	&__item{
		display: inline-block;
		margin-right: 20px;
		color: $blue;
		border-bottom: 1px dotted $blue;
		text-decoration: none !important;
		line-height: 1.05;
		&:hover{
			color: $orange;
			border-color: $orange;
		}
		&_active{
			color: $orange;
			border-bottom: none;
			&:after{
				content: '';
				font-family: 'FontAwesome';
				display: inline-block;
				margin-left: 4px;
				font-size: 12px;
			}
		}
		&_active-desc:after{
			content: '\f0d7';
		}
		&_active-asc:after{
			content: '\f0d8';
		}
	}
}

.view-type{
	@media (max-width: 767px){
		display: none;
	}
	&__content{
		display: table;
		table-layout: fixed;
		float: right;
	}
	&__item{
		display: table-cell;
		vertical-align: middle;
		&:last-child{
			padding-left: 20px;
		}
		a{
			text-decoration: none !important;
			color: #636c7b;
		}
		.fa-th{
			font-size: 22px;
		}
		.fa-bars{
			font-size: 21px;
		}
		&_active{
			a{
				color: $blue;
			}
		}
	}
}