@import 'mixins.scss';

.footer{
	background: #445762;
	padding-top: 25px;
	padding-bottom: 70px;
	color: #fff;
	@media (max-width: 991px){
		padding-bottom: 25px;
	}
	&__header{
		color: $ll-blue;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 10px;
		@media (max-width: 991px){
			text-align: center;
		}
	}

	&__logo{
		@media (max-width: 991px){
			display: none;
		}
	}

	&__navigation{
		@media (max-width: 991px){
			margin-bottom: 20px;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			@media (max-width: 991px){
				max-width: 400px;
				margin: 0 auto;
				padding-left: 60px;
			}
			li{
				display: block;
				width: 50%;
				float: left;
				margin-bottom: 10px;
				padding-left: 15px;
				position: relative;
				box-sizing: border-box;
				@media (max-width: 1199px) and (min-width: 992px){
					width: 100%;
					float: none;
				}
				@media (max-width: 991px){
					padding-left: 20px;
				}
				&:before{
					content: '';
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: $ll-blue;
					left: 4px;
					top: 8px;
					position: absolute;
					@media (max-width: 991px){
						left: 9px;
					}
				}
			}
		}
	}

	&__contact-text{
		@media (max-width: 991px){
			max-width: 400px;
			margin: 0 auto;
		}
		a{
			color: #fff;
			text-decoration: underline;
			&:hover{
				color: darken(#fff, 9%);
			}
		}
	}
}


.copyright{
	background: #1a1a1a;
	color: $ll-blue;
	padding: 15px 0;
	a{
		color: $ll-blue;
		text-decoration: underline;
		&:hover{
			color: darken($ll-blue, 9%);
		}
	}

	&__webis{
		font-size: 12px;
		text-align: right;
	}
}

.webis{
	display: table;
	float: right;
	@media (max-width: 767px){
		display: block;
		float: none;
	}
	&__logo, &__text{
		display: table-cell;
		vertical-align: middle;
		@media (max-width: 767px){
			display: block;
		}
	}
	&__text{
		padding-top: 2px;
		padding-left: 10px;
	}
}