@import 'mixins.scss';

/*form styler*/
.jq-selectbox{
	vertical-align: top;
	&__select{
		&, &:active, &:hover{
			border: 1px solid $blue;
			box-shadow: none;
			border-radius: 0px;
			background: transparent;		
		}
	}

	&__trigger-arrow{
		border-top-color: $blue !important;
	}

	&__trigger{
		border-left: none;
	}

	&__dropdown{
		box-shadow: none;
		border-radius: 0px;
		margin-top: 0px;
	}

	li{
		text-align: left;
	}

	li.selected{
		background: $blue;
	}
}

.jq-checkbox{
	&.focused{
		border-color: $blue;
	}
	&.checked .jq-checkbox__div{
		background: none;
		box-shadow: none;
		color: $blue;
		font-family: 'FontAwesome';
		position: relative;
		margin: 0;
		line-height: 1;
		&:before{
			content: '\f00c';
		}
	}
}

/*noUIslider*/
.noUi-horizontal .noUi-handle{
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: none;
	border-color: $green;
	//background: $green;
	outline: none;
	top: -5px;
	left: -11px;
	&:before, &:after{
		display: none;
	}
}

.noUi-handle-upper{
	background: darken($green, 8%);
}

.noUi-target{
	border-radius: 0px;
	background: #9ba3ae;
	box-shadow: none;
	border: none;
}

.noUi-horizontal{
	height: 2px;
}

.noUi-connect{
	box-shadow: none;
	background: $green;
}


/*select*/
.select{
    position: relative;
    display: inline-block;
    font-size: 14px;
    max-width: 100%;

    label{
        font-weight: normal;
        cursor: pointer;
        display: block;
        margin: 0;
        padding: 5px;
        white-space: nowrap;
    }

    &__trigger{
        background: #fff;
        border: 1px solid #66767d;
        color: #000;
        padding: 5px;
        padding-right: 20px;
        padding-left: 10px;
        position: relative;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        cursor: pointer;
        &:after{
            font-family: 'FontAwesome';
            content: "\f107";
            color: #66767d;
            display: inline-block;
            position: absolute;
            right: 9px;
            top: 6px;
        }
    }

    &__label{
        user-select: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__list{
        list-style: none;
        display: block;
        padding: 0;
        margin: 0;
        max-height: 140px;
        overflow-y: auto;
    }

    &__content{
        display: none;
        background: #fff;
        border: 1px solid #66767d;
        border-top: none;
        padding: 10px;
        position: absolute;
        top: 100%;
        margin-top: -5px;
        left: 0;
        z-index: 150;
        width: 100%;
    }

    &__item{
        display: block;
        &:hover{
            background: #007fff;
            color: #fff;
            .fa.gray{
                color: #fff;
            }
        }
    }

    &_active &__trigger{
        &:after{
            content: "\f106";
            top: 5px;
        }
    }

    &_active &__content{
        display: block;
    }

}

/*default*/
.input{
	border: 1px solid #9ba3ae;
	padding: 5px;
	display: inline-block;
	&_area{
		min-height: 60px;
	}
}

.button{
	background: $blue;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 15px;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: 'MuseoSansCyrl-500', sans-serif;
	line-height: normal;
	@include transition(background, 0.5s);
	&:hover{
		background: lighten($blue, 9%);
	}
	&_blue-light{
		color: $blue;
		background: $ll-blue;
		&:hover{
			background: lighten($ll-blue, 9%);
		}
	}
	&_big{
		padding: 11px 18px;
		font-size: 18px;
	}
}