@import 'mixins.scss';

$el-height: 44px;

.header{
	padding: 14px 0px;

	&__cartbox, &__search{
		padding-top: 17px;
	}

	&__cartbox{
		text-align: right;
		@media (max-width: 991px){
			text-align: left;
		}
		@media (max-width: 575px){
			text-align: center;
		}
		@media (max-width: 500px){
			padding-top: 10px;
		}
	}
}


.search{
	font-size: 16px;
	@media (max-width: 767px){
		text-align: center;
	}
	&__form{
		display: inline-block;
		white-space: nowrap;
	}
	&__select{
		width: 180px;
	}
	&__field{
		border: 1px solid $blue;
		padding: 5px;
		vertical-align: top;
		width: 300px;
		height: $el-height;
		padding: 10px 15px;
		border-left: none;
		border-right: none;
		outline: none;
		@media (max-width: 1199px){
			width: 200px;
		}
		@media (max-width: 991px){
			width: 465px;
		}
		@media (max-width: 767px){
			width: 290px;
		}
		@media (max-width: 575px){
			width: 190px;
		}
	}
	&__cleaner{
	    position: absolute;
	    top: 4px;
	    right: 2px;
	    background: #fff;
	    width: 40px;
	    display: block;
	    padding: 5px 0;
	    cursor: pointer;
	    z-index: 2;
	    text-align: center;
	    color: $blue;
	    font-size: 18px;
	    display: none;
	    &_active{
	    	display: block;
	    }
	}
	.jq-selectbox{
		&__select{
			font-size: 16px;
			&, &:active, &:hover{
				height: $el-height;	
			}
		}
		&__dropdown{
			font-size: 16px;
		}
		&__select-text{
			color: $blue;
			margin-top: 5px;
		}
		&__trigger-arrow{
			top: 19px;
		}
		li{
			min-height: 24px;
			padding-top: 8px;
		}
	}
}


.search-button{
	vertical-align: top;
	height: $el-height;
	border: 1px solid $blue;
	border-left: none;
	background: transparent;
	color: #fff;
	outline: none;
	overflow: hidden;
	padding: 2px;
	cursor: pointer;
	&:hover &__content{
		background: lighten($blue, 9%);
	}
	&__content{
		height: 100%;
		background: $blue;
		padding: 9px 10px;
		padding-top: 8px;
		line-height: normal;
		@include transition(background, 0.5s);
		.fa-search{
			font-size: 20px;
		}
	}
}


.cartbox{
	display: inline-block;
	white-space: nowrap;
	color: #fff;
	background: $blue;
	padding: 10px 15px;
	height: $el-height;
	padding-top: 13px;
	text-decoration: none;
	@include transition(background, 0.5s);
	@media (max-width: 767px){
		padding: 5px 12px;
		padding-top: 12px;
	}
	&:hover, &:focus{
		color: #fff;
		text-decoration: none;
		background: lighten($blue, 9%);
	}
	&__label{
		text-transform: uppercase;
	}
	&__count{
		color: $l-blue;
	}
}