.img-fluid{
	display: block;
}

.margin-auto{
	margin: 0 auto;
}

.clearfix:after{
	content: '';
	display: table;
	clear: both;
}

.nowrap{
	white-space: nowrap;
}

.p-relative{
	position: relative;
}

.hover-circle {
	position: relative;
	overflow: hidden;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		display: block;
		content: '';
		width: 0;
		height: 0;
		background: rgba(255,255,255,.2);
		border-radius: 100%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
	}
	&:hover:before {
		-webkit-animation: circle .5s;
		animation: circle .5s;
		animation-fill-mode:forwards;
	}
}

@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 1;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 1;
	}
}