@import 'mixins.scss';

@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url("../fonts/museosanscyrl500-webfont.eot");
  src: url("../fonts/museosanscyrl500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl500-webfont.woff") format("woff"), url("../fonts/museosanscyrl500-webfont.ttf") format("truetype"), url("../fonts/museosanscyrl500-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'MuseoSansCyrl-500', sans-serif;
	font-size: 14px;
	color: #000;
}

.page{
	&__promo{
		margin-top: 25px;
		margin-bottom: 25px;
		@media (max-width: 767px){
			display: none;
		}
	}
	&__info-index{
		margin-top: 25px;
	}
	&__main{
		margin-top: 40px;
		margin-bottom: 50px;
		@media (max-width: 991px){
			margin-top: 20px;
		}
	}
}

.heading{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 50px;
	&_white{
		color: #fff;
	}
	&_content{
		font-size: 24px;
		text-transform: none;
		text-align: left;
		margin-bottom: 30px;
	}
}

.breadcrumbs{
	margin-bottom: 10px;
	&__item{
		$i: &;
		text-decoration: underline;
		position: relative;
		margin-left: 18px;
		&:hover{
			color: $orange;
			&:before{
				color: $blue;
			}
		}
		&:before{
			content: '\f111';
			font-family: 'FontAwesome';
			font-size: 5px;
			position: absolute;
			top: 50%;
			left: -12px;
			transform: translateY(-50%);
		}
		&:first-child{
			padding-left: 0;
			margin-left: 0;
			&:before{
				display: none;
			}
		}
	}
}

.text-default{
	a{
		color: $blue;
		text-decoration: underline;
		&:hover{
			color: $orange;
		}
	}

	p{
		margin-bottom: 15px;
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			padding-left: 15px;
			margin-bottom: 15px;
			position: relative;
			&:before{
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: $blue;
				left: 4px;
				top: 8px;
				position: absolute;
			}
		}
	}
}