@import 'mixins.scss';

.menu{
	@media (max-width: 991px){
		margin-bottom: 30px;
	}
	&__header{
		font-size: 18px;
		text-transform: uppercase;
		background: #f1f1f1;
		a, span{
			display: block;
			text-align: left;
			padding: 11px 20px;
		}
		span{
			@media (max-width: 991px){
				display: none;
			}
		}
		a{
			display: none;
			color: #000;
			text-decoration: none;
			@media (max-width: 991px){
				display: block;
			}
			.fa-bars{
				display: inline-block;
				float: right;
				margin-top: 5px;
				font-size: 18px;
			}
		}
	}

	&__content{
		@media (max-width: 991px){
			display: none;
			border: 1px solid #f1f1f1;
		}
	}

	&__list{
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		&_lvl-2{
			padding-left: 20px;
		}
		&_lvl-3{
			padding-left: 20px;
		}
	}

	&__item{
		$i: &;
		display: block;
		a{
			position: relative;
			display: block;
			&:after{
				content: '';
				position: absolute;
				font-family: 'FontAwesome';
				top: 50%;
				transform: translateY(-50%);
				font-size: 15px;
			}
		}
		&_lvl-1{
			border-bottom: 1px solid #f1f1f1;
			>a{
				color: #000;
				padding: 14px 20px;
				&:after{
					content: '\f105';
					right: 13px;
				}
			}
			&.menu__item_active>a:after{
				content: '\f107';
			}
		}
		&_lvl-2{
			>a{
				padding: 10px 18px;
				color: #000;
				&:after{
					content: '\f0da';
					left: 7px;
					color: $green;
				}
			}
			&.menu__item_active>a:after{
				content: '\f0d7';
				left: 5px;
			}
		}
		&_lvl-3{
			>a{
				padding: 4px 0;
				text-decoration: underline;
				&:hover{
					color: $orange;
				}
			}
			&.menu__item_active>a{
				color: $orange;
			}
		}
	}
}