/*==============================================================================================================*/

$lll-blue: #eef2f7;
$ll-blue: #b4c4d3;
$l-blue: #7bc0e7;
$blue: #0670aa;

$orange: #ff6c00;
$green: #9ac86e;

@mixin transition($property, $duration){
	transition-property: $property;
	transition-duration: $duration;
}