@import 'mixins.scss';
@import "lib/burger.scss";

.navbar{
	background: $blue;
	border-radius: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	&__container{
		padding-left: 15px !important;
		padding-right: 15px !important;
		@media (max-width: 575px){
			width: 100%;
		}
	}
	&__collapse{
		@media (min-width: 992px){
			height: 24px;
		}
	}
	&__list{
		display: inline-block;
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		text-align: justify;
		width: 100%;
		@media (max-width: 991px){
			border-top: 1px solid #fff;
			text-align: center;
			margin-top: 5px;
		}
		&:after {
		    width: 100%;
		    height: 0px;
		    visibility: hidden;
		    overflow: hidden;
		    content: '';
		    display: inline-block;
		    @media (max-width: 991px){
				display: none;
		    }
		}
	}
	&__item{
		display: inline-block;
		@media (max-width: 991px){
			display: block;
			padding: 4px 0px;
		}
		a{
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		&_active a{
			color: $l-blue;
		}
	}
	&__toggler{
		border: none;
		padding: 5px 0;
		display: block;
		text-transform: uppercase;
		&, &:hover, &:active, &:focus{
			color: #fff;
		}
	}
}

.menu-icon{
	display: block;
	float: right;
	@include hamburger-generator(30px, 3px, 6px, #fff, $timing-function: linear);
}

.navbar__toggler:not(.collapsed) .menu-icon{
	@include hamburger-animation();
}