@import 'mixins.scss';

.news-index{
	padding: 30px 0;
	&__button{
		text-align: center;
		margin-top: 15px;
	}
}

.article{
	&__content{
		position: relative;
		max-width: 350px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	&__date{
		position: absolute;
		width: 60px;
		height: 70px;
		left: 15px;
		top: 15px;
		text-align: center;
		background: rgba(0,0,0,0.4);
		line-height: normal;
		z-index: 2;
	}

	&__day{
		font-size: 36px;
		color: $ll-blue;
	}

	&__month-year{
		color: #fff;
	}

	&__img{
		display: block;
		height: 205px;
		@media (max-width: 1199px) and (min-width: 992px){
			height: 165px;
		}
		img{
			margin: 0 auto;
			//max-height: 205px
		}
	}

	&__name{
		display: block;
		color: #000;
		font-size: 17px;
		margin-top: 10px;
		text-transform: uppercase;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		&:hover{
			color: #000;
		}
	}

	&__description{
		margin-top: 10px;
		height: 95px;
	}

	&__short{
		max-height: 65px; /*3 rows*/
		overflow: hidden;
	}

	&__more{
		display: inline-block;
		color: $blue;
		margin-top: 10px;
		&:hover{
			color: $orange;
			a{
				color: $orange;
			}
		}
		a{
			text-decoration: underline;
			color: $blue;
		}
	}
}