@import 'mixins.scss';

.paginator{
	@media (max-width: 991px){
		text-align: center;
	}
	&__item{
		text-decoration: none !important;
		margin-right: 4px;
		padding: 2px 8px;
		display: inline-block;
		background: #f1f1f1;
		color: #636c7b;
	}
}