@import 'mixins.scss';

.panel{
	background: $lll-blue;
	padding: 14px 0px;
	@media (max-width: 767px){
		text-align: center;
	}
	
	.fa{
		color: #83878f;
	}
	.fa-phone{
		display: inline-block;
		margin-right: 3px;
	}

	a{
		color: $l-blue;
		text-decoration: underline;
		&:hover{
			color: darken($l-blue, 9%);
		}
	}

	&__item{
		display: inline-block;
		&_time{
			color: #bdc1c7;
		}
		&_sitemap{
			float: right;
			@media (max-width: 767px){
				float: none;
				margin-left: 10px;
			}
		}
		&_time, &_callback{
			margin-right: 25px;
			@media (max-width: 767px){
				margin-right: 10px;
			}
		}

	}
}