@import 'mixins.scss';

.product{
	$p: &;
	margin-bottom: 30px;
	&__content{
		border: 1px solid #dee1e2;
		padding: 20px;
	}

	&__header{
		font-size: 18px;
		display: block;
		text-decoration: none;
		color: #000;
		&:hover{
			color: #000;
		}
	}

	&__price{
		font-size: 28px;
		.fa-rub{
			font-size: 20px;
			color: #636c7b;
		}
	}

	&__tocart{
		button{
			font-size: 17px;
		}
	}

	&_list{
		#{$p}__content{
			display: table;
			table-layout: fixed;
			width: 100%;
			@media (max-width: 767px){
				display: block;
				max-width: 270px;
				margin: 0 auto;
			}
		}
		#{$p}__header{
			margin-bottom: 15px;
			@media (max-width: 767px){
				margin-bottom: 0;
			}
		}
		#{$p}__img, #{$p}__info{
			display: table-cell;
			vertical-align: top;
			@media (max-width: 767px){
				display: block;
			}
		}
		#{$p}__img{
			vertical-align: middle;
			text-align: center;
			width: 270px;
			@media (max-width: 767px){
				height: 160px;
				overflow: hidden;
				width: 100%;
				display: table;
				table-layout: fixed;
			}
			a{
				@media (max-width: 767px){
					display: table-cell;
					text-align: center;
					vertical-align: middle;
				}
			}
		}
		#{$p}__info{
			padding-left: 30px;
			@media (max-width: 767px){
				padding-left: 0;
			}
		}
		#{$p}__params{
			margin-bottom: 15px;
			@media (max-width: 767px){
				margin-bottom: 10px;
			}
		}
		#{$p}__buy{
			display: table;
			@media (max-width: 767px){
				display: block;
			}
		}
		#{$p}__tocart, #{$p}__price{
			display: table-cell;
			vertical-align: middle;
			@media (max-width: 767px){
				display: block;
				text-align: center;
			}
		}
		#{$p}__tocart{
			padding-left: 16px;
			@media (max-width: 767px){
				padding-left: 0;
			}
		}
		#{$p}__price{
			@media (max-width: 767px){
				margin-bottom: 5px;
			}
		}
	}

	&_tile{
		#{$p}__header{
			overflow: hidden;
			@media (min-width: 576px){
				height: 54px;
			}
		}
		#{$p}__content{
			max-width: 270px;
			margin: 0 auto;
		}
		#{$p}__img{
			display: table;
			table-layout: fixed;
			width: 100%;
			height: 160px;
			overflow: hidden;
			a{
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
		}
		#{$p}__params{
			margin-bottom: 10px;
		}
		#{$p}__price, #{$p}__tocart{
			text-align: center;
		}
		#{$p}__price{
			margin-bottom: 5px;
		}
	}
}

.available{
	&_true{
		color: $green;
	}
	&_false{
		color: $orange;
	}
}

.params{
	&__name{
		color: #636c7b;
	}
	&__value{
		color: #000;
	}
}