@import 'mixins.scss';

.slider{
	border: 1px solid #e6e9ec;
	box-shadow: 0 0 8px #e6e9ec;
	
	&__carousel{
		visibility: hidden;
	}

	&__caption{
		color: #000;
		text-align: left;
		right: auto;
		bottom: auto;
		top: 50px;
		left: 85px;
		padding: 0;
		width: 280px;
		@media (max-width: 991px){
			top: 45px;
			left: 50px;
			width: 250px;
		}
	}

	&__header{
		text-transform: uppercase;
		font-size: 36px;
		line-height: 1.3;
		font-weight: normal;
		margin-bottom: 10px;
	}

	&__description{
		@media (max-width: 991px){
			display: none;
		}
	}

	&__content{
		min-width: 0;
	}

	&__img{
		width: 100%;
	}

	&__next, &__prev{
		background: rgb(138,152,158);
		font-size: 24px;
		width: 45px;
		height: 50px;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.7;
	}

	&__next{
		right: 0;
	}

	&__prev{
		left: 0;
	}

	&__indicators{
		li{
			display: inline-block;
			border: 2px solid #abb8bd;
			border-radius: 50%;
			width: 17px;
			height: 17px;
			flex: none;
			margin: 0 5px;
			@include transition(border-color, 0.5s);
			&:hover, &.active{
				border-color: $blue;
			}
		}
	}
}

.banner{
	@media (max-width: 1199px){
		text-align: justify;
		margin-top: 20px;
	}
	@media (max-width: 1199px) and (min-width: 992px){
		&:after{content:""; display: inline-block; width: 100%; height: 0;}
	}
	@media (max-width: 991px){
		margin-left: -5px;
		margin-right: -5px;
	}

	&__item{
		display: inline-block;
		margin-bottom: 19px;
		@media (max-width: 1199px){
			margin-bottom: 0;
		}
		@media (max-width: 991px){
			display: block;
			width: 33.333%;
			float: left;
			box-sizing: border-box;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

