@import 'mixins.scss';

.why-us{
	background: $blue;
	padding: 30px 0;

	&__content{
		width: 220px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 25px;
		@media (max-width: 767px){
			width: auto;
		}
	}
	
	&__header{
		text-transform: uppercase;
		margin-top: 13px;
		font-size: 18px;
		color: #fff;
	}

	&__description{
		color: $ll-blue;
		margin-top: 5px;
		//min-height: 150px;
	}

	&__button{
		text-align: center;
		margin-top: 15px;
	}
}